body{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
strong {
  font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.vw {
  width: 100%;
  overflow: hidden;
}
* {
  outline: none;
}

$gray-border: #acafb2;
$light-gray-border: #d5d5d5;
$gray-text: #777777;
$gray-dark-text: #444444;
$blue-border: #7ba2bf;
$background: #f3f8fb;
$red: #ce1b2c;
$blue-spray: #1d608e;
$backf-form-color: #fafafa;
$blue: #06a9cf;
$blue-backgr: #e7f2f5;
$gray: #737373;
$green: #43b12c;
$gradient: linear-gradient(to right, #f7de42 19%,#ffc807 68%);
//background: #f7de42; /* Old browsers */
//background: -moz-linear-gradient(left, #f7de42 19%, #ffc807 68%); /* FF3.6-15 */
//background: -webkit-linear-gradient(left, #f7de42 19%,#ffc807 68%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to right, #f7de42 19%,#ffc807 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de42', endColorstr='#ffc807',GradientType=1 ); /* IE6-9 */
.red {
  color: $red;
}
.blue-spray {
  color: $blue-spray;
}
.blue {
  color: $blue;
}
.pink {
  color: #fd6a6f;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.discount {
  background: url("../images/discount.png") center center no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  text-align: center;
  position: absolute;
  padding-top: 29px;
  font-size: 26px;
  line-height: 25px;
  font-weight: bold;
  z-index: 10;
}
.quote {
  color: #fec804;
  font-size: 54px;
  line-height: 24px;
  position: absolute;

}
.form {
  max-width: 300px;
  border-radius: 10px;
  padding-top: 35px;
  position: relative;
  background: $backf-form-color no-repeat url("../images/form-backgr.png");
  box-shadow: 1px 1px 56px 8px rgba(0, 0, 0, 0.12);
  &:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 100px;
    background: url("../images/time-left-arrow.png") no-repeat;
    top:-15px;
    left:0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
  form {
    border-radius: 10px;
    //padding: 30px 20px 20px;
    width: 100%;
    input, .order {
      border-radius: 40px;
      border: none;
      width: 240px;
      padding: 20px;
      margin: 10px 28px 0px;
    }
    input {
      padding: 20px 0 20px 50px;
      font-size: 14px;
      color: #777777;
      margin-top: 20px;
      border: 1px solid #d9d8d8;
      background: white;
      position: relative;
      box-shadow: 1px 1px 7px 0px #d9d8d8ad;
    }
    input[name=name] {
      background: url("../images/person-icon.png") no-repeat;
      background-position: 22px center;
    }
    input[name=phone] {
      background: url("../images/phone-icon.png") no-repeat;
      background-position: 22px center;
    }
    .order {
      padding: 11px 0;
      margin-top: 20px;
      margin-bottom: 25px;
      background: $red; /* Old browsers */
      color: white;
      font-size: 24px;
      line-height: 22px;
      font-weight: bold;
      border: 5px solid #e9e8e6;
      position: relative;
      //box-shadow: 2px 2px 9px 1px #cc95025c;
      //box-shadow: 0px 0px 10px 1px rgba(253, 91, 97, 0.5);
      //font-family: 'Roboto Bold';
      &:before {
        position: absolute;
        content: "";
        width: 69px;
        height: 38px;
        background: url(../images/arrow.png) no-repeat;
        left: -68px;
        top: -34px;
      }
    }
    >span {
      display: block;
      margin-top: 20px;
      color: #777777;
      padding-left: 40px;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 23px;
        height: 25px;
        left: 0px;
        top: 4px;
        background: url(../images/guard.png) no-repeat;
      }
    }
    .prices {
      justify-content: space-between;
      .old-price, .current-price {
        padding: 0px 0px 0px 30px;
        width: 50%;
        position: relative;
        >span {
          &:first-of-type {
            display: block;
            font-size: 14px;
          }
        }
        .price {
          margin: 5px 0;
          display: block;
          .x_price_previous, .x_price_current {
            font-size: 32px;
            line-height: 24px;
            font-weight: bold;
            //font-weight: bold;
          }
          .x_currency {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .old-price {
        overflow: hidden;
        color: $gray-text;
        font-size: 13px;
        .price {
          position: relative;
          &:before, &:after {
            position: absolute;
            content: "";
            width:90%;
            height: 1px;
            background:  $red;
            top:10px;
            left:0;
          }
          &:before {
            transform: rotate(10deg);

          }
          &:after {
            transform: rotate(-10deg);

          }
        }
      }
      .current-price {
        overflow: hidden;
        border-left: 1px solid $light-gray-border;
        color: black;
        .x_price_current {

          font-size: 28px!important;
        }
      }
    }
  }

  >span {
    display: block;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color:#a08784;
    .lastpack {
      //font-family: 'Roboto Bold';
      color:#fbda9a;
      font-weight: bold;
    }
  }
}
span.br {
  display: block;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  z-index: 2;
}
.flex-wrapper {
  display: flex;
}
.container {
  h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
  }
  >p {
    padding: 0 15px;
  }
  h2{
    margin-top: 20px;
    //font-family: 'Roboto Regular';
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    max-width: 360px;
  }
}
* {
  box-sizing: border-box;
}
.no-margin {
  margin: 0!important;
}
.block-1 {
  background: url("../images/block1-backgr.png") no-repeat $background;
  background-position: -315px top;
  position: relative;
  padding: 20px 10px 85px 10px;
  margin-bottom: 95px;
  h1 .red{
    white-space: nowrap;
    font-size: 50px;
  }
  header {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    .logo {
      width: 200px;
      line-height: 45px;
      float: left;
      //display: flex;
      //align-items: center;
      .logo-name {
        color: $blue;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        //font-family: Avenir Black;
      }
      p {
        font-size: 15px;
        line-height: 16px;
        max-width: 170px;
        margin-left: 20px;
        color: #838586;
      }
    }
    .menu {
      float: right;
      ul {
        display: flex;
        list-style: none;
        margin-left: 30px;
        li {
          padding: 0 40px 0 80px;
          line-height: 45px;
          //font-family: 'Roboto Regular';
          &:not(:first-of-type) {
            border-left: 1px solid $gray-border;
          }
          a {
            color: #333333;
            line-height: 18px;
            font-size: 16px;
            text-decoration: none;
            border-bottom: 1px solid $gray-border;
            position: relative;
            &:before{
              position: absolute;
              content: "";
              top: -7px;
              left: -38px;
              width: 30px;
              height: 25px;
              display: block;
              z-index: 1;
            }
          }
          &:first-of-type {
            a:before {
              background: url("../images/header-icon-1.png") center bottom no-repeat;
            }
          }
          &:last-of-type {
            a:before {
              background: url("../images/header-icon-2.png") center bottom no-repeat;
            }
          }
        }
      }
    }
    .callback {
      float: right;
      line-height: 36px;
      width: 300px;
      padding: 4px 0 4px 65px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 600;

      //padding-left: 35px;
      //font-family: 'Roboto Regular';
      color: black;
      position: relative;
      cursor: pointer;
      border: 1px solid $blue-border;
      box-shadow: 1px 1px 16px 2px rgba(11, 179, 208, 0.109804);
      &:before{
        position: absolute;
        content: "";
        top: 11px;
        left: 37px;
        width: 22px;
        height: 21px;
        display: block;
        background: url("../images/callback-icon.png") no-repeat;
      }
    }
  }
  .block1-content {
    position: relative;
    .girl {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: url(../images/block1-girl.png) no-repeat;
      background-position: right bottom;
      min-height: 700px;
      .product {
        width: 350px;
        margin-left: 489px;
        margin-top: 367px;
        position: relative;
        .discount {
          top: -34px;
          right: 15px;
        }
      }

    }
    .left-block {
      margin-top: 40px;
      //max-width: 642px;
      position: relative;
      z-index: 2;
      width: 500px;
      float: left;

      //&:before {
      //  position: absolute;
      //  content: "";
      //  width: 760px;
      //  height: 628px;
      //  left: -763px;
      //  top: 8px;
      //  z-index: 1;
      //  background: url("../images/cat-dog.png");
      //}
      //&:before {
      //  position: absolute;
      //  content: "";
      //  top: 60px;
      //  left: -462px;
      //  width: 630px;
      //  height: 587px;
      //  display: block;
      //  background: url("../images/block-1-woman.png") no-repeat;
      //}
      //&:after {
      //  position: absolute;
      //  content: "";
      //  top: 481px;
      //  left: -461px;
      //  width: 535px;
      //  height: 252px;
      //  display: block;
      //  background: url("../images/block-1-fruits.png") no-repeat;
      //}
      h1 {
        //font-family: 'Roboto Regular';
        color: black;
        text-align: left;
        line-height: 38px;
        max-width: 646px;
        padding: 0;
        .product-name {
          font-weight: bold;
          //font-family: 'Roboto Bold';
        }
      }
      h2{
        margin-top: 20px;
        //font-family: 'Roboto Regular';
        font-size: 18px;
        line-height: 24px;
        color: #555555;
        max-width: 360px;
      }
      .about-product {
        margin-top: 40px;
        max-width: 320px;
        padding-right: 20px;
        position: relative;

          margin-left: 25px;
          list-style: none;
          li {
            //font-family: 'Roboto Regular';
            font-size: 17px;
            color: black;
            font-weight: bold;
            line-height: 24px;
            margin-top: 17px;
            margin-left: 10px;
            //25px;
            position: relative;
            &:first-of-type {
              //margin-top: 40px;
            }
            &:before {
              position: absolute;
              content: "";
              width: 31px;
              height: 31px;
              left: -43px;
              top: -3px;
              background: url(../images/list.png);
            }

        }

        .prod {
          position: absolute;
          left: -311px;
          top: 57px;
          width: 261px;
          height: 423px;
          z-index: 3;
          background: url("../images/prod-block1.png");

          img {
            display: none;
          }
        }
      }
      .form {
        margin-top: -55px;
      }
    }
    .right-block {
      position: relative;
      z-index: 2;
      float: right;
      width: 300px;
      color: #666666;
      .timer {
        margin: 40px 0 30px;
        .to-end-left {
          font-size: 15px;
          line-height: 16px;
          font-weight: bold;
          color: black;
          padding: 10px 15px 10px 0;
        }
        .left {
          width: 77px;
          padding: 0px 15px;
          box-sizing: border-box;
          text-align: center;
          font-size: 13px;
          color: #666666;
          &:not(:first-of-type) {
            border-left: 1px solid $light-gray-border;
          }
          span {
            font-size: 30px;
            line-height: 45px;
            color: $red;
            font-weight: bold;
          }
        }
      }
      >p {
        text-align: center;
        padding: 20px 0;
        img {
          display: inline-block;
          vertical-align: bottom;
          padding: 0 10px;
        }
      }
    }
  }

}

//block-2
.statistic {
  padding-top: 20px;
  padding-bottom: 90px;
  .red {
    display: inline;
  }
  >span {
  font-size: 18px;
    color: $gray-dark-text;
    margin-top: 25px;
    display: block;
    text-align: center;
}
  p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
  }
  .symptom-photos {
    padding: 40px 0 30px;
    position: relative;
      .symptom {
      max-width: 170px;
      &:not(:first-of-type) {
        margin-left: 30px;
      }
      .photo {
        position: relative;
        width: 170px;
        height: 170px;
        overflow: hidden;
        .top-triangle {
          position: absolute;
          top:0;
          left:0;
          border-top: 50px solid $red;
          border-right: 50px solid transparent;
          span {
            position: absolute;
            top: -46px;
            left: 9px;
            color: white;
            z-index: 3;
            font-size: 20px;
          }
        }
        .bottom-triangle {
          position: absolute;
          right:0;
          bottom: 0;
          width: 0;
          height: 0;
          border-bottom: 50px solid white;
          border-left: 50px solid transparent;
        }
        img {
         min-width: 170px;
         height: 100%;
        }
      }
      p {
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        padding-top: 20px;
      }
    }
  }
}

//block-3
.repercussion {
  background: $background url("../images/backgr-triangle-repeat.png");
  padding: 80px 0;
  .photos {
    justify-content: space-between;
    padding: 40px 0;
    .photo {
      max-width: 370px;
    }
  }
  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
//block-4
.product-consist {
  position: relative;
  padding: 50px 0 100px;
  .container {
    h1 {
      max-width: 1000px;
      margin: auto;
    }
    >p {
      font-size: 18px;
      color: $gray-dark-text;
      text-align: center;
      margin: 35px auto 0;
    }
    .consist {
      margin-top: 45px;
      margin-bottom: 30px;
      justify-content: space-between;
      div {
        width: 400px;
        max-width: 100%;
        >p:first-of-type  {
          font-size: 20px;
          line-height: 0;
          font-weight: bold;
          color: black;
          span {
            display: block;
          }
        }
        span {
          display: block;
          font-size: 18px;
          color: $gray-text;
          margin-top: 20px;
        }
        ul {
          margin-top: 50px;
          list-style: none;
          li {
            position: relative;
            padding: 40px 50px 40px 130px;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            max-height: 100px;
            transition: 0.3s;
            cursor: pointer;

            p {
              padding-top: 20px;
              font-weight: normal;
              text-align: left;
              opacity: 0;
              transition: 0.3s;
              font-size: 14px;
              color: #555555;
            }
            &.active {
              max-height: 120px;
              &:after {
                background: url("../images/consist-.png");
                transition: .3s;
              }
              p {
                transition: 0.3s .3s;
                opacity: 1;
              }
            }
          }
        }
      }
      .center{
        text-align: center;
        img{
        }
      }
      .left {
        li {
          &:before {
            position: absolute;
            content: "";
            background-image: url("../images/consist-1.png");
            background-repeat: no-repeat;
            height: 100px;
            width: 132px;
            left: 0px;
            top: 0px;
          }
          &:after {
            position: absolute;
            content: "";
            font-size: 18px;
            font-weight: bold;
            width: 65px;
            height: 40px;
            top:30px;
            right:0;
            background: url("../images/consist+.png");
            cursor: pointer;
            transition: .3s;
          }
          &:nth-child(1) {
            &:before{
              background-position: 0px 10px;
            }
          }
          &:nth-child(2) {
            &:before{
              background-position: 0px -102px;}
          }
          &:nth-child(3) {
            &:before{
              background-position: 0px -260px;}
          }

        }
      }
      .right {
        li {
          text-align: right;
          padding: 40px 130px 40px 50px;
          &:before {
            position: absolute;
            content: "";
            background-image: url("../images/consist-2.png");
            background-repeat: no-repeat;
            height: 100px;
            width: 132px;
            right: 0px;
            top: 0px;
          }
          &:after {
            position: absolute;
            content: "";
            font-size: 18px;
            font-weight: bold;
            width: 65px;
            height: 40px;
            top:30px;
            left:0;
            background: url("../images/consist+.png");
            cursor: pointer;
            transition: .3s;
            transform: rotate(180deg);
          }
          &:nth-child(1) {
            &:before{
              background-position: 0px 10px;
            }
          }
          &:nth-child(2) {
            &:before{
              background-position: 0px -102px;}
          }
          &:nth-child(3) {
            &:before{
              background-position: 0px -220px;}
          }

        }
      }
    }
  }
}
//block-5
.form-block {
  padding: 70px 0;
  background: $background url("../images/backgr-triangle-repeat.png");
  .flex-wrapper {
    .left{
      width: 400px;
      h1 {
        font-size: 38px;
        text-align: left;
        padding: 0;
      }
      ul {
        margin-top: 10px;
        list-style: none;
        li{
          margin-top: 30px;
          position: relative;
          padding-left: 50px;
          font-size: 16px;
          line-height: 22px;
          color: #333333;
          &:before {
            position: absolute;
            content: "";
            width: 31px;
            height: 31px;
            left: 0;
            top: 0;
            background: url(../images/list.png);
          }
        }
      }
    }
    .center{
      width: 370px;
      .form {
        margin: auto;
        &:before {
          display: none;
        }
      }
      >p {
        text-align: center;
        padding: 20px 0;
        img {
          display: inline-block;
          vertical-align: bottom;
          padding: 0 10px;
        }
      }
      .form form .order:before {
        display: none;
      }
    }
    .right{
      width: 400px;
      position: relative;
      .discount {
        left: 60px;
        &:before {
          position: absolute;
          content: "";
          width: 69px;
          height: 38px;
          background: url(../images/arrow.png) no-repeat;
          left: -77px;
          top: 40px;
          /* transform: rotate(90deg); */
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          /* -webkit-transform: scaleY(-1); */
          transform: scaleY(-1) rotate(180deg);
          filter: FlipV;
          -ms-filter: "FlipV";
        }
      }
      >img {
        max-height: 365px;
        float: right;
      }
    }
  }

}
//block-6
.conference {
  padding: 90px 0;
  .content {
    margin-top: 40px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 60px;
      left: 0;
      bottom: -22px;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 32%, white 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 32%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(32%, rgba(255, 255, 255, 0.77)), to(white));
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 32%, white 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 32%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
    img {
      float: left;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-top: 8px;
    }
    p {
      color: $gray-dark-text;
      font-size: 18px;
      line-height: 28px;
      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }
    .about-person {
      font-size: 16px;
      background: #f0f5fa;
      font-weight: bold;
      line-height: 24px;
      padding: 15px 28px;
      width: 270px;
      position: relative;
      float: right;
      margin-top: 40px;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 30px solid white;
        border-right: 30px solid transparent;
      }
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid white;
        border-left: 30px solid transparent;
      }
      .quote {
        color: #fec804;
        font-size: 54px;
        line-height: 24px;
        position: absolute;
        top: 5px;
        left: 40px;
      }
    }
  }
  .toggle {
    margin: 30px auto 0;
    display: block;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 38px;
    text-decoration: none;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
  }
  .toggle.unactive {
    color: $red;
    //color: #fec804;
  }
  .toggle.active {
    color: #fec804;
    border: 1px solid #fec804;
  }
}
//block-7
.results {
  padding: 0px 0 80px;
  h1 {
    margin-top: 50px;
  }
  .result-head {
    padding: 80px 0 60px;
    background: $background url("../images/backgr-triangle-repeat.png");
    h2 {
      max-width: 100%;
      margin: 20px auto 0;
      text-align: center;
    }
  }
  .container {
    >p {
      font-size: 18px;
      color: $gray-dark-text;
      text-align: center;
      &:last-of-type {
        font-size: 20px;
        margin-top: 30px;
      }
    }
    >img {
      margin-top: 40px;
    }
  }
  .effect {
    justify-content: space-between;
    margin: 40px auto;
    .percents {
      text-align: center;
      &:nth-of-type(1) span {
        color: #ce1b2c;
      }
      &:nth-of-type(2) span {
        color: #ec6319;
      }
      &:nth-of-type(3) span {
        color: #fec804;
      }
      span:first-of-type {
        display: block;
        text-align: center;
        font-size: 18px;
        color: #333333;
      }
      .percent, .cur {
        font-size: 130px;
        font-weight: bold;

      }

    }
  }
  .effect-days {
    justify-content: space-between;
    margin: 40px auto;
    .percents {
      &:nth-of-type(1) span {
        color: #ce1b2c;
      }
      &:nth-of-type(2) span {
        color: #d8482c;
      }
      &:nth-of-type(3) span {
        color: #ec6319;
      }
      &:nth-of-type(4) span {
        color: #fec804;
      }
      span:first-of-type {
        display: block;
        text-align: center;
        font-size: 18px;
        color: #333333;
      }
    }
  }

}
//block-8
.slider-block {
  padding: 80px 0;
  background: $background url("../images/backgr-triangle-repeat.png");
  .slider-photos {
    text-align: center;
    padding: 0 70px;
    margin: 45px auto 0px;
      .before{
        position: relative;
        max-width: 500px;
          &:before {
            position: absolute;
          content: "до";
            top: 36px;
            left: -33px;
            border-bottom: 25px solid red;
            border-left: 28px solid transparent;
            border-right: 22px solid transparent;
            height: 0;
            width: 103px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-48deg);
          text-align: center;
          color: white;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
        }
      }
      .after {
        margin-left: 30px;
        position: relative;
        max-width: 500px;
        &:before {
          position: absolute;
          content: "после";
          top: 37px;
          left: -35px;
          border-bottom: 25px solid #fec804;
          border-left: 28px solid transparent;
          border-right: 22px solid transparent;
          height: 0;
          width: 105px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-48deg);
          text-align: center;
          color: black;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
        }
      }
      img:last-of-type{

      }
  }
  .order-button {
    display: block;
    background: #ce1b2c;
    color: white;
    text-decoration: none;
    margin: 90px auto 0;
    width: 240px;
    text-align: center;
    font-size: 24px;
    line-height: 22px;
    padding: 15px 10px;
    border-radius: 50px;
    border: 5px solid #e9e8e6;
  }
}
//block-9
.comments {
  padding: 90px 0 0px;
  border-bottom: 1px solid $light-gray-border;
  .flex-wrapper {
    padding: 80px 0;
    justify-content: space-between;
  }
  .comment {
    position: relative;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.07);
    width: 370px;
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -ms-fit-content;

    .photo {
      text-align: center;
      img {
        display: block;
        margin: -25px auto 20px;
      }
      .name {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .apply-result {
      margin-top: 20px;
      position: relative;
      font-size: 16px;
      font-style: italic;
      background: #f0f5fa;
      padding: 20px 40px;
      text-align: center;
      color: #333333;
      .quote {
        top:6px;
        left:0;
        right: 0;
        margin: auto;
      }
    }
    .comment-text {
      font-size: 17px;
      position: relative;
      text-align: center;
      color: $gray-dark-text;
       height: fit-content;
      height: -moz-fit-content;
       height: -webkit-fit-content;
      height: -ms-fit-content;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 60px;
        left: 0;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 0%, white 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 0%, white 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(0, rgba(255, 255, 255, 0.77)), to(white));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 0%, white 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 0%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      }


      p {
        padding: 20px;
      }

    }
    .comment-text.readmore-js-expanded {
      &:after {display: none;}
    }
    .toggle {
      position: absolute;
      width: 30px;
      line-height: 30px;
      font-size: 30px;
      bottom: -15px;
      left:0;
      right: 0;
      margin: auto;
    }
  }
}
//block-10
.how-use-block {
  padding: 75px 0;
  >p {
    color: $gray-dark-text;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 50px;
  }
  .flex-wrapper {
    justify-content: center;
    .how-use {
      position: relative;
      margin-left: 185px;
      margin-top: 50px;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -275px;
        background: url(../images/product.png) no-repeat;
        background-size: contain;
        width: 360px;
        height: 340px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          .line {
            height: 1px;
            width: 70px;
            background: $red;
            display: inline-block;
            vertical-align: middle;
            transition: .3s;
          }
          .number {
            background: white;
            border: 1px solid $red;
            border-radius: 50%;
            line-height: 40px;
            width: 40px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            font-size: 18px;
            font-weight: bold;
            transition: .3s;
          }
          p {
            display: inline-block;
            vertical-align: middle;
            margin-left: 25px;
            padding: 30px 0;
            border-bottom: 1px solid $light-gray-border;
            font-size: 20px;
            width: 330px;
            transition: .3s;
            color: #333333;
          }
          &.active {
            .line {
              background: #fec804;
              transition: .3s;
            }
            .number {
              background: #fec804;
              border: 1px solid #fec804;
              transition: .3s;
            }
            p {
              font-weight: bold;
              color: black;
              transition: .3s;
            }
          }
        }
      }


    }
  }
}
//block-11
.spray {
  .spray-header {
    background: #e6f3fe url("../images/backgr-triangle-repeat-opacity.png");
    padding: 80px 0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #e6f3fe;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: auto;
    }
    .container {
      h1 {

        .blue-spray {

          font-size: 40px;
          line-height: 42px;
        }
      }
      >span {
        text-align: center;
        display: block;
        margin-top: 15px;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
      }
      p {
        color: $gray-dark-text;
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        text-align: center;
      }
    }

  }
  .block11-content {
    padding: 75px 0;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 43px;
      height: 1345px;
      background: url(../images/section-before.png);
      top: -333px;
      left: -100px;
    }
    &:after {
      position: absolute;
      content: "";
      width: 43px;
      height: 1345px;
      background: url(../images/section-before.png);
      top: -333px;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: FlipH;
      -ms-filter: "FlipH";
      right: -100px;
    }
      .product {
        width: 350px;
        display: inline-block;
        position: relative;
        .discount {
          bottom: 25px;
          right: -10px;
        }

    }
    .left-block {
      //max-width: 642px;
      position: relative;
      z-index: 2;
      width: 460px;
      float: left;
      h1 {
        //font-family: 'Roboto Regular';
        color: black;
        text-align: left;
        line-height: 38px;
        max-width: 646px;
        font-size: 38px;
        padding: 0;
        .product-name {
          font-weight: bold;
          text-align: left;
          //font-family: 'Roboto Bold';
        }

      }
      h2{
        margin-top: 20px;
        //font-family: 'Roboto Regular';
        font-size: 18px;
        line-height: 24px;
        color: #555555;
        max-width: 360px;
      }
      .about-product {
        margin-top: 40px;
        max-width: 440px;
        padding-right: 20px;
        position: relative;

        margin-left: 25px;
        list-style: none;
        li {
          //font-family: 'Roboto Regular';
          font-size: 18px;
          color: #333333;
          font-weight: bold;
          line-height: 22px;
          margin-top: 17px;
          margin-left: 10px;
          //25px;
          position: relative;
          &:first-of-type {
            //margin-top: 40px;
          }
          &:before {
            position: absolute;
            content: "";
            width: 31px;
            height: 31px;
            left: -43px;
            top: -3px;
            background: url(../images/list-yellow.png);
            background-size: 30px;
          }

        }

        .prod {
          position: absolute;
          left: -311px;
          top: 57px;
          width: 261px;
          height: 423px;
          z-index: 3;
          background: url("../images/prod-block1.png");

          img {
            display: none;
          }
        }
      }
      .form {
        margin-top: -55px;


      }
    }
    .right-block {
      position: relative;
      z-index: 2;
      float: right;
      width: 300px;
      color: #666666;
      >p {
        text-align: center;
        padding: 20px 0;
        img {
          display: inline-block;
          vertical-align: bottom;
          padding: 0 10px;
        }
      }
      .form {
        border-top: 5px solid #fdd74d;
        background: $backf-form-color url("../images/triangle-form-2.png");
        &:before {
          display: none;
        }
        form {
          .order {
            background: $blue-spray;
            &:before {
              left: -72px;
              top: 4px;
              transform: rotate(-48deg);
            }
          }
        }
      }
    }
  }
  .how-use-spray {
    background: #e6f3fe url("../images/backgr-triangle-repeat-opacity.png");
    padding: 80px 0;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #e6f3fe;
      left: 0;
      right: 0;
      top: -20px;
      margin: auto;
    }
    .steps {
      margin-top: 50px;
      justify-content: space-around;
      .step {
        max-width: 246px;
        text-align: center;
        position: relative;
        &:not(:last-child):after {
          position: absolute;
          content: "";
          width: 111px;
          height: 15px;
          background: url("../images/arrow-steps.png");
          top:100px;
          left: 260px;
          //bottom: 0;
          //margin: auto;
        }
        &:last-child:after {
          position: absolute;
          content: "";
          width: 50px;
          height: 50px;
          background: url("../images/list-yellow.png");
          top:0px;
          right: 35px;
      }
        .img {
          width: 220px;
          height: 220px;
          text-align: center;
          background-color: white;
          overflow: hidden;
          border: 10px solid #dcecf9;
          border-radius: 50%;
          position: relative;
          margin: auto;
          &:before {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: "";
          }
          img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
          }
        }
        p {
          margin-top: 20px;
          font-weight: bold;
        }

      }

    }
  }
}
//block-12
.order-product {
  padding: 50px 0 0px;
  .container {
    h1 {
      max-width: 740px;
      margin: auto;
    }

    .order {
      margin-top: 50px;
      justify-content: center;
      list-style: none;
      border-bottom: 1px solid $light-gray-border;
      .circle {
        width: 240px;
        position: relative;
        text-align: center;
        margin-bottom: 80px;
        p {
          padding-top: 30px;
          font-size: 20px;
          line-height: 26px;
          font-weight: bold;
          max-width: 230px;
        }

      }

      .arrows {
        padding: 0 20px;
        .arrow {
          transition: 0.2s;
          margin-top: 60px;
          background: url("../images/order-arrows.png");
          background-repeat: no-repeat;
          height: 50px;
          width: 20px;
        }
        .arrow.filter {
          filter: grayscale(100%);
        }
        .arrow-1, .arrow-3 {
          background-position: -25px 0;
        }

      }

    }
    .warning {
      padding: 90px 0 110px;
      text-align: center;
      background: url("../images/warning.png") no-repeat center;
      h1 {
        max-width: 1060px;
      }
      p {
        margin-top: 25px;
        font-size: 18px;
        line-height: 28px;
        color: $gray-dark-text;
      }
    }
  }

}
footer {
  font-size: 16px;
  line-height: 24px;
  color: $gray;
  padding: 10px 0 50px;
  a {
    color: $gray;
    text-decoration: none;
  }
  .flex-wrapper {
    justify-content: space-between;
    .left {
      text-align: left;
      img {
        margin-right: 20px;
      }
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
    span {
      display: block;
    }
    span#date {
      display: inline;
    }
  }

}
//slider
.slick-slide {
  //display: none;
  /* float: left; */
  height: 100%;
  min-height: 1px;
  img {
    //margin: auto;
  }
}
.slick-dots {
  bottom: -40px;
  left:0;
  right: 0;
  margin: auto;
  li {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    background: #cadceb;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.2s;
    button {
      &:before {
        content: "";
      }
    }
  }
  li.slick-active {
    background: #fec804;
  }

}
.slick-prev, .slick-next {
  height: 23px;
  width: 54px;
  //filter: grayscale(100%);
}
.slick-prev:before, .slick-next:before {
  content: "";

}
.slick-prev {
  background: url("../images/slick-arrow-active.png") no-repeat;
  left:0px;
  transform: rotate(180deg);
}
.slick-next {
  background: url("../images/slick-arrow-active.png") no-repeat;
  right:0px;
}
.slick-prev.slick-disabled, .slick-next.slick-disabled {
  filter: grayscale(100%);
}

//.readmore-js-expanded + button{
//  transform: rotate(180deg);
//}
.toggle {
  margin: 30px auto 0;
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
}
.toggle {
  color: $red;
  //color: #fec804;
}
.toggle.active {
  color: #fec804;
  border: 1px solid #fec804;
}



.ever-popup__body {
  >span {
    display: none;
  }
  .discount {
    display: none;
  }


}
.ever-popup-build {
  flex-direction: row;
  background: white;
  border-radius: 0px;
  border: 3px solid $red;
  .form-product {
    text-align: center;
    width: 54%;
    min-width: 400px;
    img {
      max-width: 350px;
      max-height: 300px;
    }
    h1 {
      text-align: center;
      font-size: 26px;
      padding: 10px 0;
      font-weight: bold;
    }
  }
  .form {
    width: 46%;
    margin-top: 0;
    background: transparent;
    border-radius: 0;
    &:before {
      display: none;
    }
    form  {
      .prices {
        .old-price, .current-price {
          border-radius: 0;
        }
      }

    }
    form .order {
      padding: 22px 0;
    }

    >span {
      display: none;
    }
  }

}