@media screen and (max-width: 1200px) {
  .vw>section {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .block-1 {
    .block1-content {
      .girl {
    background-size: 1000px;
        right: 0;
        .product {
          margin-left: 400px;

        }
      }
    }
  }
  .statistic {
    .symptom-photos {
      max-width: 700px;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
    }
  }
  .repercussion {
    .photos {
      .photo {
        padding: 10px;
      }
    }
  }
  .comments {
    .comment {
      width: 32%;
      .apply-result {
        min-height: 116px;
      }
    }
  }
  .spray {
    padding-left: 0!important;
    padding-right: 0!important;
    .spray-header {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
    }
    .block11-content {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      .left-block {
        width: 375px;
        padding-left: 10px;
        h1 {
          line-height: 28px;
          font-size: 26px;
        }
      }
    }
    .how-use-spray {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
    }
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1100px) {

  .block-1 {
    margin-bottom: 30px;
    header {
      .menu {
        float: none;
        ul {
          li {
            padding: 0 20px 0 50px;
          }
        }
      }
    }
    .block1-content {
      .girl {
        background: none;
        .product {
          margin-left: 306px;
          margin-top: 248px;
        }
      }
    }
  }
  .product-consist {
    .container {
      .consist {
        div {
          ul {
            li {
              padding-right: 90px;
              &.active {
                max-height: 300px;
                padding-bottom: 0;
                p {
                  width: calc(100% + 60px)
                }
              }
            }
          }
        }
      }
    }
  }
  .form-block {
    .flex-wrapper {
      .left {
        width: 380px;
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  .conference {
    .content {
      p {
        font-size: 16px;
      }
    }
  }
  //.slider-block {
  //  .slider-photos {
  //    .after, .before {
  //      margin: 0;
  //      padding: 10px;
  //      box-sizing: border-box;
  //    }
  //
  //  }
  //}
  //.slider-block .slider-photos .after:before {
  //  top: 41px;
  //  left: -26px;
  //  border-bottom: 29px solid #fec804;
  //  border-left: 33px solid transparent;
  //  border-right: 28px solid transparent;
  //  height: 0;
  //  width: 90px;}
  //.slider-block .slider-photos .before:before {
  //
  //  top: 41px;
  //  left: -26px;
  //  border-bottom: 29px solid $red;
  //  border-left: 33px solid transparent;
  //  border-right: 28px solid transparent;
  //  height: 0;
  //  width: 90px
  //}
  .how-use-block {
    .flex-wrapper {
      .how-use {
        margin-left: 110px;
        &:before {
          left: -250px;
        }
      }
    }
  }
  .spray {
    .block11-content {
      .left-block {
        width: 300px;

      }
    }
  }


}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 769px) {

}
@media screen and (max-width: 720px) {

}

